<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PersistenciaDestino" value="SQLServerPrestamo"/>
	</appSettings>
	<connectionStrings>
		<add name="SQLServerPrestamo"
			 connectionString="Data source=localhost ; Initial Catalog=ControlPrestamo ; Integrated Security= true;"
		/>
		<add name="PostgresPrestamo"
			 connectionString="Host = localhost; Database = ControlPrestamo; Username = postgres; Password = 1234"
		/>
		<add name="memoriaPrestamo"
			 connectionString="databaseName: Memoria"
		/>

	</connectionStrings>
</configuration>